.cart {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  cursor: pointer;
  z-index: 5;
  padding: 1rem;
  border-radius: 2px;
}

@media (min-width: 760px) {
  .cart {
    top: 5rem;
    bottom: unset;
  }
}

.cart-quantity {
  font-weight: 700;
  font-size: 14px;
  position: absolute;
  right: 4px;
  bottom: 4px;
}