.search-btn {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  width: 100px;
  height: 32px;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 30px;
  font-weight: 600;
  background-color: #e24d4d;
  font-family: 'Rubik', sans-serif;
}

.search-btn:hover {
  background-color: #a61818;
}